@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Terminal;
        src: url(/src/assets/fonts/Sevastopol-Interface.woff) format('woff');
    }

    @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
    }
}

@layer components {
    .base-button {
        @apply inline-flex items-center justify-center
            bg-silver shadow-button
            text-black active:shadow-button-active;
    }

    .window {
        @apply absolute left-[5vw] top-[5%] min-w-[50vw] w-[420px] h-[420px] min-h-[80vh]
            bg-silver p-[3px] shadow-window;
    }

    .window-title-bar {
        @apply flex items-center justify-between p-[3px_2px_3px_3px]
            bg-navy text-white text-14 font-600 leading-none;
    }

    .window-button {
        @apply base-button size-4 text-14;
    }

    .old-monitor-effect::after {
        @apply content-[''] absolute inset-0
        bg-[linear-gradient(to_bottom,transparent_50%,rgba(0,0,0,.1)_51%)] bg-[length:100%_4px]
        pointer-events-none;
    }
}
